# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Directories
coverage/
.idea/
.vscode/
dist/
uploads/



# Operating system files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp

# Hidden files
*.lock

# Specific files or directories
package-lock.json
