/* MealDetail.css */

.meal-detail-container {
    padding: 20px;
    margin-top: 20px; /* Margin from navbar */    
}

.meal-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.meal-instruction {
    text-align: justify;
}

.meal-detail-content {
    max-width: 800px;
    width: 100%;
    margin: 0 auto; 
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px; 
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.3); /* Adds shadow effect */
    border-radius: 8px; /* Adds rounded corners */
    background-color: #fff; /* Ensures a white background */
}

.ingredients-list {
    text-align: left;
    margin-bottom: 20px;
}

.meal-detail-image {
    width: 100%; 
    height: 50vh;
    border: 2px solid #000; 
    border-radius: 8px; 
    margin: 0 auto; 
    display: block; 
    object-fit: cover; 
    box-sizing: border-box; 
    margin-bottom: 20px; 
    box-shadow: 0 0 15px rgba(10, 10, 10, 0.3); /* Adds shadow effect */
}

@media (max-width: 768px) {
    .meal-detail-content {
        padding: 10px;
    }

    .meal-detail-image {
        height: auto; /* Adjusts height for smaller screens */
    }
}
